<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Blogs</title>
</head>
<body>
{% if is_admin %}
<h1>Welcome {{ username }}</h1>
<a href="/new">Add Article</a>
{% else %}
<h1>Welcome to personal blogs</h1>
{% endif %}
<ul>
    {% for article in articles %}
    <li>
        <a href="/article/{{ article.uuid }}">{{ article.title}} {{ article.date }}</a>
        {% if is_admin %}
        <a href="/edit">Edit</a>
        <a href="/delete">Delete</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% if is_admin %}
<a href="/logout">Logout</a>
{% else %}
<a href="/login">Login</a>
{% endif %}
</body>
</html>